.profilHost {
    display: flex;
    align-items: center;
    color: #FF6060;
}

.nameHost {
    margin: 10px;
    text-align: right;
    width: 93px;
    color: #FF6060;
    font-size: 18px;
}

.photoHost {
    background: #C4C4C4;
    width: 64px;
    border-radius: 50%;
}